html, body {
  margin: 0 auto;
  background-color: red;
  font-family: 'Lato', sans-serif;
  font-size: 26px; }

header {
  text-align: center;
  height: 5vh;
  background-color: blue; }

footer {
  text-align: center;
  height: 5vh;
  background-color: aqua; }

header img {
  margin-top: 0.5vh;
  max-height: 4vh;
  margin-bottom: 0.5vh; }

.container {
  display: grid;
  height: 90vh;
  grid-template-areas: "opis" "galeria" "mapa";
  grid-template-columns: 100% 100% 100%;
  grid-template-rows: 33% 34% 33%; }

.opis {
  grid-area: opis;
  background-color: lightblue; }

.galeria {
  grid-area: galeria;
  background-color: blue; }

.mapa {
  grid-area: mapa;
  background-color: darkblue; }
