* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  background-color: #DDD;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 5vh;
  background-color: #0F0F0F;
}
@media (max-width: 899px) and (orientation: portrait) {
  header {
    height: 10vh;
  }
}
@media (max-width: 899px) and (orientation: landscape) {
  header {
    height: 15vh;
  }
}
@media (min-width: 900px) and (orientation: landscape) {
  header {
    height: 8vh;
  }
}
@media (min-width: 1200px) {
  header {
    height: 7vh;
  }
}

.menu {
  position: relative;
  height: 100%;
}

#menu, #submenu {
  display: none;
  padding: 0;
  margin: 0;
  height: 8vh;
  background-color: #1F1F1F;
  grid-template-columns: 33% 34% 33%;
  font-size: 6vh;
}
@media (max-width: 899px) and (orientation: portrait) {
  #menu, #submenu {
    height: 30vh;
    font-size: 6vh;
    grid-template-columns: 100%;
  }
}
@media (max-width: 899px) and (orientation: landscape) {
  #menu, #submenu {
    height: 15vh;
    font-size: 9vh;
  }
}
@media (min-width: 900px) and (orientation: landscape) {
  #menu, #submenu {
    height: 8vh;
    font-size: 6vh;
  }
}
@media (min-width: 1200px) {
  #menu, #submenu {
    height: 8vh;
    font-size: 6vh;
  }
}

#menu div, #submenu div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: inherit;
  height: 100%;
}

#menu a:hover, #submenu a:hover {
  background-color: #2F2F2F;
}

#logo {
  height: 100%;
}

header img {
  height: 100%;
}

footer {
  text-align: center;
  min-height: 5vh;
  background-color: #0F0F0F;
}

.button {
  color: white;
  margin: auto;
  height: 3ex;
  width: 9ex;
  max-width: 80vw;
  font-size: 6em;
  text-align: center;
  opacity: 1;
  border: 10px solid #FFF;
  z-index: 6;
}
@media (max-width: 899px) and (orientation: portrait) {
  .button {
    font-size: 4em;
    widows: 7ex;
    border-width: 8px;
  }
}
@media (max-width: 899px) and (orientation: landscape) {
  .button {
    font-size: 4em;
    widows: 7ex;
    border-width: 8px;
  }
}

main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  background-color: white;
}
@media (max-width: 899px) and (orientation: portrait) {
  main {
    grid-template-columns: 0% 100% 0%;
  }
}

.yt-container {
  margin-top: 2vh;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.yt-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.left {
  background: linear-gradient(90deg, #AAA, white);
}

.right {
  background: linear-gradient(90deg, white, #AAA);
}

section {
  color: black;
}

h1 {
  text-align: center;
  font-size: 5em;
  margin: auto;
}

h2 {
  text-align: center;
  font-size: 4em;
  margin: auto;
}
@media (max-width: 899px) and (orientation: portrait) {
  h2 {
    font-size: 3em;
  }
}

span {
  font-size: 2em;
  margin: auto;
}

article {
  width: 80%;
  margin: 1vh 10% 5vh 10%;
}

table {
  margin: 2vh 0vh 0vh 0vh;
  width: 100%;
  border: 2px black solid;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  border: 2px black solid;
}

input, textarea, select {
  margin: 0.5vh 0 0.5vh 0;
  width: 100%;
  height: 4vh;
}

button {
  width: 100%;
  height: 4vh;
}

#scroll-up {
  position: fixed;
  bottom: 5%;
  right: 1%;
}

/*# sourceMappingURL=substyle.css.map */
